*

!/.husky
!/.husky/*
!.editorconfig
!.gitignore
!.eslintignore
!.prettierrc.json
!commitlint.config.js
!eslint.config.js
!LICENSE
!package-lock.json
!package.json
!README.md
!/projects/
!/projects/*