:root {
    --sg-bg: var(--sg-mono-100);
    --sg-text: var(--sg-mono-900);
    --sg-line: var(--sg-mono-500);
    --primary: #2e62d9;
    --primary-hover: #2ca2fd;
    --secondary: #2ca2fd;
    --secondary-hover: #2ca2fd;
    --sg-mono-900: #101828;
    --sg-mono-800: #4c525e;
    --sg-mono-700: #7c8089;
    --sg-mono-600: #acaeb5;
    --sg-mono-500: #d5d6d9;
    --sg-mono-400: #e6e7e8;
    --sg-mono-300: #f4f4f5;
    --sg-mono-200: #f9f9fa;
    --sg-mono-100: #fff;
    --padding-s: 8px;
    --padding-m: 12px;
    --padding-l: 16px;
    --padding-2l: 20px;
    --sg-text-m: 16px;
    --sg-text-l: 18px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.siteguide {
    color: var(--sg-text);
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: var(--sg-text-m);
    width: 280px;
    min-height: 150px;
    background-color: var(--sg-bg);
    border-radius: 8px;
    border: 1px solid var(--sg-line);
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.066);
    z-index: 1000001;
    max-height: 400px;
}

.siteguide-animation {
    animation: fadeIn 0.3s ease-out;
}

.siteguide-helper {
    box-shadow:
        0 0 0 0 rgba(33, 33, 33, 0.8),
        0 0 0 5000px rgba(33, 33, 33, 0.5);
    border: 2px solid var(--sg-mono-900);
    border-radius: 4px;
    opacity: 1;
    z-index: 1000000;
    position: absolute;
    transition: all 0.3s ease-out;
    /* pointer-events: none; */
}

.siteguide-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--padding-m) var(--padding-2l) 0;
}

.siteguide-content {
    width: 100%;
    padding: var(--padding-m) var(--padding-2l);
    overflow-y: auto;
}

.siteguide-content::-webkit-scrollbar {
    width: 4px;
}

.siteguide-content::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 4px;
}

.siteguide-title {
    display: block;
    font-size: var(--sg-text-l);
    font-weight: 800;
    color: var(--sg-text);
}

.siteguide-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    margin-bottom: var(--padding-m);
}

.siteguide-description {
    font-size: 14px;
    font-weight: 400;
    color: var(--sg-text);
}

.siteguide-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-m);
    border-top: 1px solid var(--sg-line);
    gap: var(--padding-l);
    margin-top: auto;
}

.siteguide-button {
    padding: var(--padding-s) var(--padding-l);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
    transition: background-color 0.3s ease-out;
}

.siteguide-button-secondary {
    background-color: var(--secondary);
    color: var(--sg-text);
}

.siteguide-button-secondary:hover {
    background-color: var(--secondary-hover);
}

.siteguide-button-primary {
    background-color: var(--primary);
    color: #fff;
}

.siteguide-button-primary:hover {
    background-color: var(--primary-hover);
}

.siteguide-button-link {
    color: var(--primary);
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease-out;
}

.siteguide-button-link:hover {
    color: var(--primary-hover);
}

.siteguide-close {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.3s ease-out;
}

.siteguide-close:hover {
    background-color: var(--secondary-hover);
    color: #fff;
}

.siteguide-close-icon {
    height: 10px;
}
