.siteguide {
    box-sizing: border-box;
    width: 280px;
    background-color: #fffafa;
    border-radius: 8px;
    border: 1px solid #e1dfdf;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.066);
    z-index: 1000001;
    transition: all 0.3s ease-out;
}

.siteguide-helper {
    box-shadow:
        0 0 0 0 rgba(33, 33, 33, 0.8),
        0 0 0 5000px rgba(33, 33, 33, 0.5);
    border: 2px solid rgba(33, 33, 33, 0.8);
    border-radius: 4px;
    opacity: 1;
    z-index: 1000000;
    box-sizing: border-box;
    position: absolute;
    transition: all 0.3s ease-out;
}

.siteguide-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 20px 0;
}

.siteguide-content {
    width: 100%;
    padding: 12px 20px;
}

.siteguide-title {
    display: block;
    font-size: 18px;
    font-weight: 800;
    color: #222;
}

.siteguide-description {
    font-size: 14px;
    font-weight: 400;
    color: #222;
}

.siteguide-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-top: 1px solid #e1dfdf;
    gap: 16px;
    margin-top: auto;
}

.siteguide-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
}

.siteguide-button-secondary {
    background-color: #e1dfdf;
    color: #222;
}

.siteguide-button-secondary:hover {
    background-color: #ddd;
}

.siteguide-button-primary {
    background-color: #222;
    color: #fff;
}

.siteguide-button-primary:hover {
    background-color: #000;
}

.siteguide-close {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.siteguide-close:hover {
    background-color: #ddd;
    color: #fff;
}

.siteguide-close-icon {
    height: 10px;
}
